@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/


#Layouttitulo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutacordeon {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutimagen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutTips {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
     #img_alistamiento{
	width: 80%;
	
}
 

#Layouttitulo {
	clear: both;
	display: block;
	height: 50px;
	width: 100%;
        
}
#Layoutacordeon {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutimagen {
	clear: both;
	float: left;
	margin-left: 0;
	width: 79.5918%;
	display: block;
}
#LayoutTips {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
       #img_alistamiento{
	width: 100%;
	
}

#Layouttitulo {
    
	clear: both;
	
	margin-left: 0%;
	width: 100%;
	display: block;
	background-color: #238276;
	margin-bottom: 15px;
	margin-top: 2px;
	color: #FFFFFF;
        
}
#Layoutcontenido {
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 93.6708%;
	display: block;
        padding-bottom: 70px;
}
#Layoutacordeon {
       position: relative;
	clear: both;
	float: right;
	margin-left: 0;
	width: 60%;
	display: block;
}
#Layoutimagen {
     z-index: -10;
      position: absolute;
       margin-top: 80px;
       margin-bottom: 30px;
	clear: both;
	float: left;
	width: 60%;
        height: 100%;
	display: block;
	
	}
#contenido{
		
}
		#otros
	{
	float: left;
	position: absolute;
	top: 7px;
	left: 117px;
	width: 24;
	height: 24;
	border: none;
	}
#real
	{
	float: left;
	position: absolute;
	top: 5px;
	left: 17px;
	width: 24;
	height: 24;
	border: none;
	}
#veri
	{
	float: left;
	position: absolute;
	top: 6px;
	left: 19px;
	width: 24;
	height: 24;
	border: none;
	}
#ini
	{
	float: left;
	position: absolute;
	top: 3px;
	left: 114px;
	width: 24;
	height: 24;
	border: none;
	}	
#LayoutTips
	{
        margin-top: -350px;    
	clear: none;
	float: right;
	margin-left: 1.2658%;
	width: 24.0506%;
	display: block;
	}
 
}
